<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <title>Cover</title>
</head>
<body class="cover-page">
    <img class="cover-image" src="{{ cover_file }}" alt="Cover" />
</body>
</html>
